@font-face {
    font-family: "Lato Light";
    src: url("./assets/fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato Regular";
    src: url("./assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato Bold";
    src: url("./assets/fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato Black";
    src: url("./assets/fonts/Lato-Black.ttf");
}

html {
    height: 100%;
}

ul {
    list-style-type: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1020px;
    position: relative;
}

.wrapper {
    width: 940px;
    padding: 0 40px;
    margin: 0 auto;
    height: 100%;
}

.header {
    background-color: rgba(45, 48, 58, 0.85);
    backdrop-filter: grayscale(1) contrast(3) blur(3px);
    height: 5.9375rem;
    box-sizing: border-box;
    border-bottom: 0.375rem solid #323746;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

.header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -0.7px;
    font-family: "Lato Bold";
}

.logo::after {
    content: "*";
    color: #f06c64;
}

.header-navigation {
    padding: 0;
    display: flex;
    list-style: none;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    padding-top: 0.6875rem;
    font-family: "Lato Bold";
}

.navigation-item {
    position: relative;
    height: 1.875rem;
    margin-left: 1.75rem;
    margin-top: 1.125rem;
}

.header-navigation .navigation-item.navigation-link-active a {
    color: #f06c64;
}

.navigation-item a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    height: 100%;
    font-family: "Lato Bold";
}

.navigation-item:hover a {
    color: #f06c64;
}

.navigation-item:not(:last-child)::after {
    content: ".";
    display: block;
    position: absolute;
    right: -1.125rem;
    top: -0.125rem;
    color: #494e62;
}

.phone {
    background-repeat: no-repeat;
    position: relative;
    flex-shrink: 0;
}

.iphone1 {
    background-image: url("./assets/img/iphone1.png");
    width: 15rem;
    height: 30.1875rem;
}

.iphone2 {
    background-image: url("./assets/img/iphone2.png");
    width: 30.1875rem;
    height: 15rem;
}

.phone .iphone-display {
    position: absolute;
}

.iphone1 .iphone-display {
    left: 0.875rem;
    top: 4.0625rem;
}

.iphone2 .iphone-display {
    left: 3.75rem;
    top: 0.8125rem;
}

.slider {
    background-color: #f06c64;
    box-sizing: border-box;
    border-bottom: 6px solid #ea676b;
    position: relative;
}

.slider-phone-left {
    position: relative;
    left: -0.375rem;
}

.slider-phone-right {
    position: relative;
    left: 0.3125rem;
}

.slider .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3.3125rem;
    padding-bottom: 3.625rem;
}

.slider-arrow {
    width: 1rem;
    height: 1.6875rem;
    background: url("./assets/img/arrowleft.svg") no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}

.slider-arrow:hover {
    opacity: 0.8;
}

.arrow-right {
    transform: rotate(180deg);
}

.hideh1 {
    position: absolute;
}

.services {
    background-color: #f2f2f2;
    color: #666d89;
    padding-bottom: 3.9375rem;
    box-sizing: border-box;
    border-bottom: 6px solid #ffffff;
    text-align: justify;
    padding-bottom: 3rem;
}

#portfolio,
#services,
#about,
#contact {
    scroll-margin-top: 2.5rem;
}

#home {
    scroll-margin-top: 95px;
}

.services {
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
    padding-top: 62px;
    padding-bottom: 16px;
    position: relative;
}

.services h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 900;
    font-family: "Lato Black";
}

.services .services-description {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    padding-top: 1.3125rem;
    color: #767e9e;
    font-family: "Lato light";
}

.services-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 42px;
    padding-bottom: 17px;
}

.services-item {
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
    max-height: 97px;
}

.services-item-description {
    text-align: justify;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 71px;
    max-width: 219px;
    word-break: break-word;
}

.services-item-content {
    position: relative;
    display: inline-block;
}

.services-item-title {
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #666d89;
    font-weight: 900;
}


.service-card-image {
    padding-right: 21px;
    padding-top: 6px;
}

.portfolio {
    background-color: #2d303a;
    padding-top: 71px;
    padding-bottom: 48px;
    border-bottom: 6px solid #767e9e;
    position: relative;
}

.portfolio-title {
    font-size: 30px;
    padding-bottom: 1.3125rem;
    font-weight: 900;
    color: #666d89;
    font-family: "Lato Black";
}

.portfolio-description {
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
    line-height: 16px;
    margin-bottom: 19px;
    font-family: "Lato light";
}

.buttons {
    display: flex;
}

.portfolio-buttons {
    color: #767e9e;
    border: 2px solid #666d89;
    border-radius: 5px;
    background-color: transparent;
    margin-right: 0.6875rem;
    line-height: 18px;
    outline: none;
    font-size: 12px;
    font-family: "Lato light";
    font-weight: 400;
    padding: 1px 6px;
}

.portfolio-buttons:hover {
    border-color: #767e9e;
    color: #ffffff;
}

.portfolio-buttons-active {
    color: #d6b87c;
    border: 2px solid #f06c64;
}

.portfolio-buttons-active {
    color: #d6b87c;
    border: 2px solid #f06c64;
}

.portfolio-work-wrapper {
    margin-top: 19px;
    max-height: 621px;
    overflow: hidden;
}

.portfolio-work {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all 1s ease-out;
}

.work-card {
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
}

.work-image {
    display: block;
    box-sizing: border-box;
    width: 220px;
    height: 187px;
    transition: all 0.2s ease-out;
}

.work-image:hover {
    transform: translateY(5px);
}

.about {
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
    padding-top: 69px;
    padding-bottom: 67px;
    position: relative;
}


.about-title {
    font-size: 30px;
    font-weight: 900;
    color: #666d89;
    line-height: 18px;
    margin-bottom: 26px;
    font-family: "Lato Black";
}

.about-description {
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
    line-height: 30px;
    margin-bottom: 45px;
    text-align: justify;
    font-family: "Lato light";
}

.agent-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.agent-info {
    width: 300px;
}

.agent-info:first-child .social-block {
    margin-left: 1px;
}

.agent-photo {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.agent-name {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    padding-top: 15px;
    letter-spacing: -0.2px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 18px;
    font-family: "Lato Black";
}

.agent-description {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    padding-bottom: 0.75rem;
    font-family: "Lato light";
    text-align: justify;
    letter-spacing: 0.2px;
    word-wrap: break-word;
}

.social-agents {
    width: 152px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: transparent;
}

.social-agents a {
    height: 32px;
    border-radius: 50%;
    transition: 0.5s ease-out;
}

.social-agents a:hover {
    background-color: #fff;
    transition: 0.5s ease-out;
}

.social-image {
    height: 32px;
    width: 32px;
    opacity: 1;
}

.social-image:hover {
    opacity: 0.8;
}

.quote {
    background-color: #f06c64;
    padding-top: 57.5px;
    padding-bottom: 14px;
    border-bottom: 6px solid #ea676b;
    position: relative;
}

.quote-title {
    font-size: 30px;
    color: #f0d8d9;
    margin-bottom: 19px;
    font-weight: 900;
    font-family: "Lato Bold";
}

.quote-description {
    font-size: 18px;
    color: #f0d8d9;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
    font-family: "Lato light";
}

.quote-content {
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quote-form {
    width: 605px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Lato, sans-serif;
}

.input {
    padding-left: 14px;
    width: 100%;
    height: 38px;
    background-color: #d6564f;
    outline: none;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    border-radius: 4px;
    border: none;
    margin-bottom: 16px;
    transition: .5s ease-out;
}

.text-field {
    padding-top: 0.5px;
}

.name-field:valid:focus,
.email-field:valid:focus {
    background-color: #fff;
    border-color: 1px solid #000;
}

.name-field:invalid:focus,
.email-field:invalid:focus {
    background-color: #000;
    color: #fff;
}

.input:hover {
    background-color: #b73d36;
    transition: .5s ease-out;
}

.input::placeholder {
    color: #f48c8f;
}

.input.textarea-block {
    height: 194px;
    resize: none;
    padding-top: 7px;
}

input[type="submit"] {
    color: #f0d8d9;
    width: 100px;
    font-size: 16px;
    margin-top: 10px;
    padding-left: 0;
    font-family: "Lato Bold";
    outline: none;
    border: 2px solid #d6b87c;
    border-radius: 5px;
    transform: scale(0.9);
    transition: 0.2s;
    background-color: #3f4249;
    color: #d6b87c;
    height: 37px;
    margin-bottom: 14px;
    padding-right: 2px;
    outline: none;
}

input[type="submit"]:hover {
    cursor: pointer;
    transform: scale(1);
    transition: 0.2s;
}

.contact-information {
    display: flex;
    flex-direction: column;
    width: 301px;
    position: relative;
}

.contact-title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
    margin-bottom: 10px;
    font-family: "Lato Bold";
}

.contact-description {
    font-size: 12px;
    line-height: 22.5px;
    font-weight: 400;
    color: #f0d8d9;
    margin-bottom: 25px;
    text-align: justify;
    font-family: "Lato light";
}

.contact-element {
    margin-bottom: 7px;
    color: #f0d8d9;
    font-size: 12px;
    font-weight: 400;
    padding-left: 24px;
    text-decoration: none;
}

.contact-element::before {
    content: "";
    position: absolute;
    display: block;
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    left: 0;
}

.contact-element.location::before {
    background-image: url('./assets/img/contact-location.png');
    background-size: 7px;
    background-position: 4px 2.3px;
}

.contact-element.tel::before {
    background-image: url('./assets/img/contact-phone.png');
    background-size: 11px;
    background-position: 2px 2px;
}

.contact-element.email {
    margin: 0;
}

.contact-element.email::before {
    background-image: url('./assets/img/contact-mail.png');
    background-size: 14px;
    background-position: 0px 5px;
    margin-top: -2px;
}

footer {
    height: 4.75rem;
    background-color: #2d303a;
}

.footer {
    height: 76px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.social-items {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666d89;
    border-radius: 50%;
    transition: opacity 350ms ease-in-out;
    margin-right: -4.5px;
    margin-bottom: 0.5rem;
}

.social-items:not(:last-child) {
    margin-right: 0.5rem;
}

.social-items:hover {
    cursor: pointer;
    opacity: 0.5;
    border: 1px solid yellowgreen;
}

.copyright {
    color: #666d89;
    font-size: 12px;
    margin-left: 0.1875rem;
    margin-bottom: 0.7rem;
    font-family: "lato light";
    letter-spacing: -0.1px;
}

.bordered {
    border: 5px solid #F06C64;
    border-radius: 3%;
}

.display-switch .iphone-display {
    opacity: 0;
}

.slide {
    opacity: 0;
    display: none;
    height: 500px;
}

.slide-active {
    display: flex;
    position: relative;
    align-items: center;
    opacity: 1;
}

.slider-second {
    background-color: #648BF0;
    border-bottom: 6px solid rgb(46, 71, 136);
}

/* Modal Window */

.modal-window {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Poppins', sans-serif;
    animation: fadeIn 1s 1;
}

.modal-content {
    background-color: #d6b87c;
    margin: auto;
    padding: 20px;
    border: 5px solid #3f4249;
    width: 40%;
    border-radius: 15px;
    color: #141D2F;
}

.close {
    color: #141D2F;
    float: right;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.close:hover {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    cursor: pointer;
}

/*keyframe for modal animation*/
@keyframes fadeIn {
    0% {
        opacity: 0
    }

    10% {
        opacity: 0.1
    }

    20% {
        opacity: 0.2
    }

    30% {
        opacity: 0.3
    }

    40% {
        opacity: 0.4
    }

    50% {
        opacity: 0.5
    }

    60% {
        opacity: 0.6
    }

    70% {
        opacity: 0.7
    }

    80% {
        opacity: 0.8
    }

    90% {
        opacity: 0.9
    }

    100% {
        opacity: 1
    }
}

#goTop {
    position: fixed;
    z-index: 999;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    color: #fff;
    background: rgba(00, 00, 00, 0.3);
    border: none;
    opacity: 0;
    transition: opacity 0.4s linear;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: 2px solid #d6b87c;
}

#goTop.is-visible {
    opacity: 1;
}

@media screen and (max-width: 768px) {

    body {
        min-width: 768px;
    }

    .wrapper {
        width: 688px;
        padding: 0 40px;
    }

    .page-header_navigation {
        padding-top: 6px;
    }

    .page-header_navigation .navigation-item {
        margin-left: 30.5px;
        letter-spacing: -0.09px;
    }

    .slider {
        padding-top: 94px;
        padding-bottom: 0;
        border-bottom: 4.55px solid #EA676B;
    }

    .slider .wrapper {
        height: 450.46px;
        width: 711.72px;
        padding: 0 20px;
    }

    .slide .slide-active {
        width: 599.34px;
        height: 388.07px;
        left: -9px;
        top: 10px;
    }

    .slider-phone-left {
        height: 388.07px;
        width: 180.71px;
        background: url('./assets/img-responsive/vertical-phone-pad.png');
    }

    .iphone1 .iphone-display {
        width: 141px;
        height: 251px;
        top: 50px;
        left: 12px;
    }

    .slider-phone-right {
        height: 200.63px;
        width: 363.67px;
        background: url('./assets/img-responsive/horizontal-phone-pad.png') no-repeat;
    }

    .iphone2 .iphone-display {
        width: 251px;
        height: 142px;
        left: 45px;
        top: 11px;
    }

    .phone.slider-iphone3 {
        height: 400.63px;
        width: 463.67px;
    }

    .slider-arrow {
        width: 16px;
        top: 4px;
    }

    .arrow-left {
        left: -20px;
    }

    .slider-arrow .arrow-right {
        right: 7px;
    }

    .services {
        padding-top: 40px;
        border: none;
        padding-bottom: 9px;
    }

    .services .wrapper {
        position: relative;
    }

    .services-cards {
        width: 654px;
        padding-top: 32px;
    }

    .services-item {
        position: relative;
        margin-top: -1px;
        padding-bottom: 48px;
    }

    .services-item-img {
        padding-top: 4.5px;
        position: relative;
    }

    .portfolio {
        padding-top: 69px;
        padding-bottom: 67px;
    }

    .portfolio .wrapper {
        width: 695px;
        padding: 0 32px 0 41px;
    }

    .portfolio-title {
        letter-spacing: -0.95px;
        margin-bottom: 27px;
    }

    .portfolio-description {
        margin-bottom: 13px;
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
        letter-spacing: 1px;
    }

    .portfolio-work-wrapper {
        max-height: 794px;
        margin-top: 27px;
        width: 688.851px;
        position: relative;
        right: 2px;
    }

    .portfolio-work {
        position: relative;
    }

    .work-card {
        width: 206.19px;
        height: 173.76px;
    }

    .about {
        padding-top: 63px;
    }

    .about-description {
        margin-bottom: 39px;
    }

    .staff {
        position: relative;
        right: -2px;
    }

    .agent-info {
        width: 219px;
        height: 360px;
    }

    .agent-photo {
        width: 218.94px;
        height: 218.94px;
        position: relative;
    }

    .agent-info:nth-child(2) .agent-photo {
        right: 1px;
    }

    .agent-infom:nth-child(3) .agent-photo {
        right: 2px;
    }

    .agent-name {
        padding-top: 10px;
        letter-spacing: 0;
        max-height: 18px;
        text-overflow: ellipsis;
    }

    .agent-description {
        line-height: 23px;
        margin-bottom: 9px;
        margin-top: 0;
    }

    .about .social-agents {
        position: relative;
        right: 2px;
    }

    .quote {
        padding-top: 51.5px;
        padding-bottom: 39px;
    }

    .quote .wrapper {
        width: 689px;
        padding: 0 37px 0 42px;
    }

    .quote-content {
        margin-top: 24px;
    }

    .quote-form {
        width: 433px;
        position: relative;
        right: 4px;
    }

    .text-field {
        width: 433px;
        height: 38px;
        border-radius: 5px;
        padding-top: 0;
        padding-top: 1px;
    }

    .text-field::placeholder {
        font-size: 12px;
    }

    .input {
        margin-bottom: 12px;
        padding-left: 9px;
    }

    .input.textarea-block {
        border-radius: 5px;
        height: 153px;
        padding-top: 3px;
        margin-bottom: 18px;
    }

    .contact-title {
        line-height: 21px;
        margin-bottom: 1px;
    }

    .contact-description {
        margin-bottom: 12px;
    }

    .contact-element {
        padding-left: 22px;
    }

    .contact-element::before {
        left: -2px;
    }

    .contact-information {
        width: 221px;
    }

    .footer .wrapper {
        justify-content: center;
    }

    .copyright {
        display: none;
    }
}